# ==========================================
# DEPLOYMENT PRIVATE KEY
# ==========================================
PRIVATE_KEY=""

# ==========================================
# RPC URL
# ==========================================
BASE_SEPOLIA_RPC_URL="https://base-sepolia-rpc.publicnode.com"

# ==========================================
# IGNITION PARAMETERS
# ==========================================
# Official ERC-8004 proxy contract address on the target network 
# (Defaults to the contract address on Base Sepolia Testnet).
ERC8004_ADDRESS="0x8004A818BFB912233c491871b3d84c89A494BD9e"

# Base URI for AgentPass metadata (Soulbound NFT)
PASS_BASE_URI="https://uri/"

# (Optional) The address of the backend server relayer that will report recordUsage. 
# If left empty, the PRIVATE_KEY wallet will act as the relayer.
INITIAL_RELAYER=""